.overlay {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 100;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 30px;

  h2 {
    margin: 0;
    font-size: 24px;
  }

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }
}