.overlay {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out .3s, visibility ease-in-out .3s;

  &-visible {
    visibility: visible;
    opacity: 1;
  }
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 30px;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
  &-visible {
    transform: translateX(0);
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }
}